.jobs1
{
    display: block;
    border-color: black 0.1rem solid ;
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53,53,53)0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
}